ACTIVITY 1:
1)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 4, 3, 5, 3, 6, 1, 7, 1]
}

df = pd.DataFrame(exam_data)
print(df)

        name  score  attempts
0  Anastasia   12.5         1
1       Dima    9.0         3
2  Katherine   16.5         4
3      James    NaN         3
4      Emily    9.0         5
5    Michael   20.0         3
6    Matthew   14.5         6
7      Laura    NaN         1
8      Kevin    8.0         7
9      Jonas   19.0         1

In [ ]:
selected_columns = df[['name', 'score']]
print(selected_columns)

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

2)

In [ ]:
filtered_data = df[df['attempts'] > 3]
print(filtered_data)

        name  score  attempts
2  Katherine   16.5         4
4      Emily    9.0         5
6    Matthew   14.5         6
8      Kevin    8.0         7

3)

In [ ]:
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
    'age': [25, 35, 40, 28],
    'gender': ['F', 'M', 'M', 'M'],
    'salary': [50000, 70000, 60000, 80000]
}

df = pd.DataFrame(data)

In [ ]:
print(df)

      name  age gender  salary
0    Alice   25      F   50000
1      Bob   35      M   70000
2  Charlie   40      M   60000
3     Dave   28      M   80000

In [ ]:
df[df['age']>30]

      name  age gender  salary
1      Bob   35      M   70000
2  Charlie   40      M   60000

In [ ]:
filtered_df = df[df['name'].str.contains('e')]
print(filtered_df)

      name  age gender  salary
0    Alice   25      F   50000
2  Charlie   40      M   60000
3     Dave   28      M   80000

In [ ]:
filtered_df = df[(df['gender'] == 'M') & (df['salary'] > 65000)]

In [ ]:
print(filtered_df)

   name  age gender  salary
1   Bob   35      M   70000
3  Dave   28      M   80000

In [ ]:
selected_columns = df[['name', 'age']]

In [ ]:
print(selected_columns)

      name  age
0    Alice   25
1      Bob   35
2  Charlie   40
3     Dave   28